<div>
<p>Welcome to Collocation Dominoes!</p>
<p>
In Collocation Dominoes, your goal is to create 'dominoes' of collocations that lead on from one another. A selection of partial collocations are supplied at the top of the screen.
</p>
<p>
It is possible for some words in this exercise to collocate with more than one word. This exercise is looking for the strongest collocational matches to show which phrases are used more frequently in everyday language.If a domino is correct, the background colour will turn grey.
</p>
<p>
Drag and drop the partial collocations to create dominoes.
</p>
</div>
